// Fuentes
$principalFont: 'Lato', sans-serif;
$secundaryFont: 'Italianno', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #8ed3cc;
$secundary: #e082a8; 
$black: #000;
$white: #FFFFFF;
$gray: #979797;
$lightGay: #f8f8f8;